:host {
  flex: 2;
  position: relative;
}

.date {
  left: 5px;
  position: absolute;
  top: 0;
}

.day {
  align-items: flex-start;
  border: 1px solid #333;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  
  .time-slot {
    border-left: 1px dashed #333;
    flex: 1;
    height: 100%;
    padding-left: 5px;
    padding-top: 20px;
    position: relative;

    .slot-label {
      font-size: 10px;
      pointer-events: none;
      position: absolute;
      left: 5px;
      top: 0px;
    }

    &:first-child {
        border: 0;
    }
  }

  .today-line {
    border: 2px dashed rgb(100, 0, 0);
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
  }

  &.weekend {
    background-color: lightblue;
  }
}