<div class="week" [id]="id">
  <ng-content [ngStyle]="{width: dayWidth}"></ng-content>
  <slb-day *ngFor="let dateInfo of dates" [date]="dateInfo.date" [month]="dateInfo.month" [year]="dateInfo.year"
    [events]="events" [resourceId]="resource.id" [ngStyle]="{width: dayWidth}"></slb-day>
  <div class="event-list" [ngStyle]="{marginLeft: dayWidth, width: eventListWidth}">
    <div class="event-holder" *ngFor="let dateInfo of dates; let i = index" cdkDropList #eventList="cdkDropList"
      [cdkDropListData]="getMyEvents(dateInfo)" [cdkDropListConnectedTo]="connectedLists" (cdkDropListDropped)="drop($event)"
      [ngStyle]="{width: dayWidthInner}" id="{{'droplist-' + resource.id + '-' + i}}">
      <div class="event" cdkDrag *ngFor="let event of getMyEvents(dateInfo)" mwlResizable [resizeCursorPrecision]="20"
        [enableGhostResize]="true" [resizeEdges]="{right: true}">
        <div class="event-drag-handle" cdkDragHandle></div>
        <div [innerHTML]="event.name | boxify:3"></div>
      </div>
    </div>
  </div>
</div>