:host {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;

  > /deep/ * {
    height: 30px;
  }
}

.resource-head, .day {
  align-items: flex-start;
  font-size: 12px;
  border: 1px solid #333;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
}

.resource-head {
  border: 1px solid #333;
  flex: 1;
}