<slb-scheduler-toolbar (configChanged)="onConfigChanged($event)"></slb-scheduler-toolbar>
<slb-scheduler-header [dates]="dates"></slb-scheduler-header>

<div *ngFor="let resourceGroup of resources" class="resource-group">
    <div class="resource-group--name">{{resourceGroup.name}}</div>
    <div cdkDropList (cdkDropListDropped)="drop($event)" #resourcesListRef="cdkDropList" [cdkDropListData]="resourceGroup.data"
        [cdkDropListConnectedTo]="[]">
        <slb-scheduler-row *ngFor="let resource of resourceGroup.data" [resource]="resource" [dates]="dates" [events]="events"
            [fieldNames]="resourceGroup | fieldNames" [lists]="lists" cdkDrag>
            <slb-resource [resource]="resource" [fieldNames]="resourceGroup | fieldNames" cdkDragHandle></slb-resource>
        </slb-scheduler-row>
    </div>
</div>