:host {
    background-color: blue;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    height: 25px;
    left: 0;
    margin-right: 3px;
    padding: 3px;
    position: absolute;
    top: 20px;
    width: 50px;
  }