.resource-head, .day {
    border: 1px solid #333;
    float: left;
    padding: 3px 0;
    position: relative;
    text-align: center;
}

.small {
    font-size: 12px;
}

.medium {
    font-size: 13px;
}

.big {
    font-size: 14px;
}
