:host {
    display: flex;
    align-items: flex-start;
}

.resource-head, .day {
    border: 1px solid #333;
    flex: 1;
    padding: 3px 0;
    position: relative;
    text-align: center;
}

.small {
    font-size: 12px;
}

.medium {
    font-size: 13px;
}

.big {
    font-size: 14px;
}
