<div class="week" [id]="id">
    <ng-content></ng-content>
    <slb-day *ngFor="let date of dates" [date]="date" [config]="config"></slb-day>
    <div class="event-list">
        <div class="dummy event-holder" (click)="console.log('ewfefergfer')" [ngStyle]="{flex: config.resourceColumnWidth}"></div>
        <div class="event-holder" *ngFor="let date of dates; let i = index" cdkDropList #eventList="cdkDropList"
            [cdkDropListData]="[date,resource[fieldNames.valueField]]" [cdkDropListConnectedTo]="lists"
            (cdkDropListDropped)="drop($event)" id="{{'droplist-' + resource[fieldNames.valueField] + '-' + i}}"
            [ngStyle]="{width: 100 / dates.length + '%'}">
            <div class="event" *ngFor="let event of getMyEvents(date)" cdkDrag [cdkDragData]="event" mwlResizable
                [resizeCursorPrecision]="20" [enableGhostResize]="true" [resizeEdges]="{right: true}">
                <div class="event-drag-handle" cdkDragHandle></div>
                <div [innerHTML]="event.title | boxify:3"></div>
            </div>
        </div>
    </div>
</div>