<div class="week" [id]="id">
    <ng-content></ng-content>
    <slb-day *ngFor="let date of dates" [date]="date" [config]="config"></slb-day>
    <div class="event-list">
        <div class="dummy event-holder" [ngStyle]="{width: config.resourceColumnWidth * 100 / (dates.length + 1) + '%'}"></div>
        <div class="event-holder" cdkDropList #eventList="cdkDropList" [cdkDropListData]="resource[fieldNames.valueField]"
            [cdkDropListConnectedTo]="lists" (cdkDropListDropped)="drop($event)" id="{{'droplist-' + resource[fieldNames.valueField]}}"
            [ngStyle]="{width: 100 - 100 / (dates.length + 1) + '%'}">
            <ng-container *ngFor="let date of dates">
                <slb-scheduler-event *ngFor="let event of getMyEvents(date)" [event]="event" [offset]="getEventOffset(event)"
                    cdkDrag [cdkDragData]="event" mwlResizable [resizeCursorPrecision]="10" [enableGhostResize]="true"
                    [resizeEdges]="{right: true}" [resizeSnapGrid]="{right: 10}" (resizeEnd)="log($event)"
                    (cdkDragEntered)="log($event)">
                    <div class="event-drag-handle" cdkDragHandle></div>
                </slb-scheduler-event>
            </ng-container>
        </div>
    </div>
</div>